<!DOCTYPE html>
<html lang="en">

<title>controls</title>
<div>
    <form action="/likes/?target=/" method="post" enctype="multipart/form-data">
        <input type="hidden" name="operation" value="increase"/>
        <input type="submit" name="buttonIncrease" value="increase"/>
      </form>
      <form action="/likes/?target=/" method="post" enctype="multipart/form-data">
        <input type="hidden" name="operation" value="decrease"/>
        <input type="submit" name="buttonDecrease" value="decrease"/>
      </form>
    </div>

    <body>
        <h1>Current Time:</h1>
        <p id="current-time">Loading...</p>
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
        <script>
            var socket = io.connect('http://' + document.domain + ':' + location.port);
    
            socket.on('update_time', function(data) {
                document.getElementById('current-time').innerHTML = 'Time: ' + data.time;
            });
        </script>
    </body>
</html>
